/* *{
    margin: 0;
    padding: 0;
    
} */

.awards-banner-img{
    max-width: 100%;
  height: auto;
  display: block; 
}
.title-h5{
    font-size: 19px;
    text-transform: uppercase;
    color: #3C3950;
    font-weight: bolder;
    text-align: center;
    font-weight: 700;
}

.img-div{
    /* max-width: 261px; max-height: 261; */
     margin-bottom: 20px;
    
}
.img-div-parent{
    max-width: 261px;  padding: 0px 21px;
}
.height{
    height: 100px;
}
.flex-div{
    max-width: 1300px; display: flex; flex-wrap: wrap; margin: 0 auto; justify-content: center; row-gap: 100px;
}
.img-div2{
    margin-bottom: 20px;
    width: 362px;
    height: 271px;
}
.img-div-parent2{
       padding: 0px 21px;      
}
.img-div3{
    margin-bottom: 20px;
    width: 362px;
    height: 482px;
}
/* @media (max-width: 768px) {
  .img-div-parent2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .title-h5 {
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
  }
} */


/* for animation */
/* img {
  width: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

img.animate {
  opacity: 1;
  transform: translateY(0);
} */
.image-zoom-on-scroll {
       opacity: 0;
       transform: scale(0.7);
       transition: all 0.8s ease-out;
       will-change: transform, opacity;
      }

      .image-zoom-on-scroll.show {
       opacity: 1;
       transform: scale(1);
      }